<%- include('../partials/head.ejs') %>
    <%- include('../partials/header.ejs',{name:null}) %>
        <div class="p-3 ">

            <div class="card col-lg-4 p-2 m-auto">
                <br>
                <h1 class="text-center">Forgot Password?</h1>
                <br>
                <div class="mb-3 row">
                    <label for="email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="email">
                        <div>
                            <span id='email_err' class="error_span"></span>
                        </div>
                    </div>
                </div>
               
                <div class=" text-center">
                    <span id='error_msg' class="error_span"></span>
                </div>
                <br>
                <button id="reset_password" class="btn btn-dark m-auto">Reset Password</button>
                <br>
            </div>
        </div>
        <script src="forgot_password.js"></script>
        <%- include('../partials/tail.ejs') %>