<%- include('../partials/head.ejs') %>
    <%- include('../partials/header.ejs',{name:null}) %>
        <div class="p-3 ">

            <div class="card col-lg-4 p-2 m-auto">
                <br>
                <h1 class="text-center">Sign Up Yourself</h1>
                <br>
                <div class="mb-3 row">
                    <label for="name" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <input type="name" class="form-control" id="name">
                        <div>
                            <span id='name_err' class="error_span"></span>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="email">
                        <div>
                            <span id='email_err' class="error_span"></span>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="password" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="password">
                        <div>
                            <span id='password_err' class="error_span"></span>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <span id='error_msg'  class="error_span" ></span>
                  </div>
                <br>
                <button id="signUpBtn" class="btn btn-dark m-auto">Sign Up</button>
                <br>
            </div>
        </div>
        <script src="signup.js"></script>
        <%- include('../partials/tail.ejs') %>