<%- include('../partials/head.ejs') %>
    <%- include('../partials/header.ejs',{name:name}) %>
    <div class="popup" id="popup">
            <span class="close_btn" id="close_popup">X</span>
            <div class="product_card" id="product_details" >
              

            </div>
        </div>
        <div class="contain" id="products">

            

        </div>
        <a class="button" id="load_more">Load More</button>

            <script src="script.js"></script>
            <%- include('../partials/tail.ejs') %>