<% productsList.forEach(product=> {
    %>

    <div class="product_card">  
        <img src=<%=product.image %> class="product_img" alt="...">
        <div>

            <h5 class="product_title">
                <%= product.name %>
            </h5>


            <a class="button" onclick="viewMore(<%= product.id %>)"  id=<%= product.id %>>View Details</a>

        </div>

    </div>


    <% }); %>