<%- include('partials/head.ejs') %>
    <%- include('partials/header.ejs',{name:null}) %>
    <img src="bg.png" class="bg"/>
    <div class="producst">
        
    </div>
        <%- include('partials/tail.ejs') %>