<%- include('partials/head.ejs') %>
    <%- include('partials/header.ejs',{name:null}) %>
    <a class="button" href="/products" id="shopnow">Shop Now</button>

        <%- include('partials/tail.ejs') %>